{% extends 'core/base.html' %}

{% block content %}

<div class="login-page">

    <div class="login-card">

        <div class="login-logo">
            BookMyShow
        </div>

        <h1>Sign in</h1>

        <p class="login-subtitle">
            Get access to your bookings and entertainment.
        </p>


        <form method="post">

            {% csrf_token %}

            {% if form.non_field_errors %}

                <div class="form-error">
                    {{ form.non_field_errors }}
                </div>

            {% endif %}


            <label>
                Username
            </label>

            {{ form.username }}


            <label>
                Password
            </label>

            {{ form.password }}


            <button
                type="submit"
                class="login-submit"
            >
                Continue
            </button>

        </form>


        <div class="login-divider">
            <span>OR</span>
        </div>


        <p class="new-user">
            New to BookMyShow?
        </p>


        <a
            href="{% url 'signup' %}"
            class="create-account"
        >
            Create Account
        </a>

    </div>

</div>

{% endblock %}